// Typography
//
// Typographyのスタイルガイド
//
// Styleguide 2.0.0


// Headings
//
// 見出しのスタイル
//
// Markup:
// <h1>h1. heading</h1>
// <h2>h2. heading</h2>
// <h3>h3. heading</h3>
// <h4>h4. heading</h4>
// <h5>h5. heading</h5>
// <h6>h6. heading</h6>
//
// Styleguide 2.1.0

.h1, h1 {
    font-size: 36px;
}

.h2, h2 {
  font-size: 30px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 18px;
}

.h5, h5 {
  font-size: 14px;
}

.h6, h6 {
  font-size: 12px;
}
